<nb-layout>
    <nb-layout-column>
        <h4>Welcome to BuyBit Please Complete your user registration</h4>
      <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6">
          <nb-card accent="danger"  [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">
    <nb-card-body>
    <h3>Privacy Policy</h3>
    <br>
    <br>
    <p>
        Lorem Ipsum is simply dummy text of the
         printing and typesetting industry.
          Lorem Ipsum has been the industry's
           standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type
             and scrambled it to make a type specimen book.
              It has survived not only five centuries,
              but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised
              in the 1960s with the release of Letraset
              sheets containing Lorem Ipsum passages,
               and more recently with desktop publishing
               software like Aldus PageMaker including versions of Lorem Ipsum
  <br>
  <br>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    </p>
    <form action="" #f="ngForm" (ngSubmit)="onPrivacy(f)">
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <nb-checkbox
                name="read"
                ngModel
                required
                terms
                #read="ngModel">I have read and accept the above terms and Conditions</nb-checkbox>
                <p [hidden]="read.valid || read.pristine"
                class="label">
                 Please Confirm
              </p>
                <nb-checkbox name="accept"
                name="accept"
                ngModel
                required
                accept
                #accept="ngModel">I accept to recive commercial communication from BuyBit.io</nb-checkbox>
                <p [hidden]="accept.valid || accept.pristine"
                class="label">
                 Please Confirm
              </p>
              </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-10"></div>
          <div class="col-md-2">
              <button type="submit" class="btn btn-primary" [disabled]="!f.valid || f.invalid || !f.dirty" (click)="toggleLoadingAnimation()" >Submit</button>

          </div>
      </div>


    </form>

    </nb-card-body>
  </nb-card>
        </div>
        <div class="col-md-3"></div>

  </div>


    </nb-layout-column>
  </nb-layout>
